<div class="card-movie row w-100" (click)="emitterClick()">
  <div class="col-5 ps-0">
    <img
      src="{{ imgUrl == '' ? '' : baseImgUrl + imgUrl }}"
      class="img-movie"
      alt="Banner do filme"
    />
  </div>

  <div class="col-7 d-flex align-items-center">
    <div>
      <h3 class="title-movie text-center">{{ title }}</h3>
      <p class="mb-0 text-center">
        <fa-icon class="icon-star me-1" [icon]="faStar"></fa-icon>
        <ng-container *ngIf="evaluationNote > 0; else notEvaluation">
          <strong>{{ evaluationNote }}</strong
          >/10
        </ng-container>
        <ng-template #notEvaluation> Não possui avaliações </ng-template>
      </p>
      <p
        *ngIf="voteCount != undefined && voteCount > 0"
        class="mb-0 text-center"
      >
        Avaliações: {{ voteCount }}
      </p>
      <p
        *ngIf="releaseDate != undefined && releaseDate !== ''"
        class="mb-0 text-center"
      >
        Lançamento: {{ formatDate(releaseDate) }}
      </p>
    </div>
  </div>
</div>
