.container {
  min-height: 92vh;
}

.card-sobre {
  box-shadow: 3px 3px 6px 2px #aaa;
  border-radius: 15px;
  min-height: 270px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
}

a {
  color: #ff8400 !important;
}
