<div class="container my-5">
  <div class="row w-100">
    <div class="col-12 col-md-6">
      <h2>Ideia do site</h2>
      <div class="card-sobre">
        <div>
          <p>
            Esse site foi construído com o objetivo de trazer alguns dados sobre
            os mais diversos filmes existentes no mundo. Dados como:
          </p>
          <ul>
            <li>Avaliação;</li>
            <li>Banner do filme;</li>
            <li>Data de lançamento;</li>
            <li>Quantidade de avaliações;</li>
            <li>Título;</li>
            <li>Um breve resumo sobre o filme.</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6">
      <h2>Origem dos dados</h2>
      <div class="card-sobre card-dados">
        <p>
          Essas informações vêm através da The Movie Database API (<a
            href="https://developers.themoviedb.org/3/getting-started/introduction"
            target="_blank"
            >TMDB API</a
          >). Esta API fornece todos os dados sobre os filmes, fornece também a
          lista de gêneros e a lista de opções de idiomas. A TMDB API forneces
          mais uma imensa quantidade de dados, mas decidi usar somente esses
          citados para construção desse site.
        </p>
      </div>
    </div>

    <div class="col-12 mt-3">
      <h2>Como usar o site</h2>
      <div class="card-sobre">
        <div>
          <p>O site conta com duas páginas:</p>

          <ul>
            <li>
              <p class="mb-1">
                <strong>Home:</strong> página que contêm a melhor parte do site,
                é nela que você irá interagir com a API. Para usar é muito
                simples, basta seguir o seguinte passo a passo:
              </p>

              <ol>
                <li>Selecione o gênero de filme que deseja buscar;</li>
                <li>
                  Selecione o idioma em que deseja que os dados dos filmes sejam
                  apresentados;
                </li>
                <li>
                  Selecione a ordem na qual deseja que os filmes sejam
                  apresentados;
                </li>
                <li>Clique no ícone da lupa e veja a magia acontecer :)</li>
              </ol>

              <p class="mt-2">
                Após os filmes serem apresentado é possível clicar no filme que
                deseja para obter mais informações sobre ele. Por fim, essa
                pagina possui paginação, ou seja, é possível visualizar todos os
                filmes do gêneros escolhido fazendo a navegação disponibilizada
                antes e depois dos cards dos filmes.
              </p>
            </li>

            <li>
              <p>
                <strong>Sobre:</strong> página que você se encontra lendo no
                momento. Ela apresenta informações sobre o site, origem dos
                dados e um pequeno tutorial de como usar o site.
              </p>
            </li>
          </ul>

          <p>
            Para baixar e rodar esse projeto no seu dispositivo clique
            <a href="" target="_blank">aqui</a>.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
