<div>
  <button
    disabled
    type="button"
    class="btn-basic"
    [ngClass]="
      withColor
        ? 'button-color'
        : '
    button-without-color'
    "
    (click)="clickButton($event)"
    [disabled]="buttonDisabled"
  >
    <ng-container *ngIf="showIcon; else notIcon">
      <ng-container *ngIf="iconFirst; else textFirst">
        <fa-icon [icon]="icon"></fa-icon>
        {{ textButton }}
      </ng-container>

      <ng-template #textFirst>
        {{ textButton }}
        <fa-icon [icon]="icon"></fa-icon>
      </ng-template>
    </ng-container>

    <ng-template #notIcon>
      {{ textButton }}
    </ng-template>
  </button>
</div>
